@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.header_line {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    height: 3px;
    width: 100%;
}

.top_contents {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-left: 18px;
    z-index: 10;
    width: 100%;
}

.top {
    z-index: 999;
    position: absolute;
    top: 0;
}

.top_contents_main_00 {
    /*背景画像とか*/
    width: 100%;
    height: 100%;
}

.top_contents_main_00 img {
    width: 100%;
    height: 100%;
}

.main_contents_0 {
    width: 100%;
    height: 350px;
    padding: 30px;
    background-color: #eee;
}

.main_contents_1 {
    width: 100%;
    height: 560px;
    padding: 50px;
    background-color: #fff;
}

.member_list_contents {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    height: 90%;
}

.member_list_item {
    min-width: 200px;
    max-width: 200px;
    height: 90%;
    border: 1px solid #eee;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.member_list_item img {
    border-radius: 150px;
    width: 150px;
    padding-bottom: 15px;
}

.main_contents_2 {
    background-color: #eee;
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 20px;
}

.main_contents_2_01 {
    display:flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.main_contents_2_02 {
	width: 390px;
    max-width: 30%;
	padding: 10px;
    height: 450px;
    max-height: 85%;
}

.main_contents_2_02 a {
    text-decoration: none;
    color: #414141;
}

.main_contents_2_02 img {
    border-radius: 50%;
    width: 65%;
    height: auto;
    min-width: 150px;
    min-height: 150px;
    padding: 20px;
	margin: 0 auto;
}

.main_contents_2_02 p {
    font-size: 30px;
	margin: 0 auto;
}

.contact_us_up_webhook {
    width: 100%;
    height: 560px;
    padding: 50px;
}

.send_btn {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    color: #fff;
    width: 30%;
    float: right;
}

.footer_00 {
    /*右寄せ*/
    text-align: center;
}

.footer_00 .footer_01 {
    text-decoration: none;
    color: #414141;
}